#main-content {

    width: 900px;
    margin: auto;
    background: pink;
    height: 550px;
    margin-top: 120px;
    border-radius: 1em;
    
}

#main-game {

    text-align: center;
    letter-spacing: 1em;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    
    
}

#main-button {
    height: 10em;
    width: 20em;
    border: black;
    border-radius: 1em;
    position: absolute;
    margin-left: 350px;

   

}